source https://api.nuget.org/v3/index.json

nuget Halite 1.1.42
nuget Newtonsoft.Json 6.0.8 restriction: >= net45
nuget JetBrains.Annotations 11.1.0 restriction: >= net45
nuget Shouldly 2.8.3 restriction: >= net45
nuget xunit 2.1.0 restriction: >= net45 
nuget xunit.runner.console 2.1.0 restriction: >= net45
nuget xunit.runner.visualstudio 2.1.0 version_in_path: true
nuget FAKE
